@media (max-width: 768px) {
    body {
        .login {
            font-size: 13px;
        }
    }
}

.login {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.login--container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgray;
}

.login--logo {
    margin: 20px 0;
    width: 100px;
    object-fit: contain;
}

.login--container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.login--container > form > h5 {
    margin-bottom: 5px;
}

.login--container > form > input {
    height: 30px;
    padding: 0 8px;
    margin-bottom: 10px;
    width: 98%;
    background-color: white;
}

.login--container > p {
    margin: 15px 0;
    font-size: 15px;
}

.login--signinButton {
    margin-top: 10px;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.login--registerButton {
    margin-top: 10px;
    border: 1px solid lightgray;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    cursor: pointer;
}