@media (max-width: 768px) {
    body {
        .product {
            margin: 5px;
            padding: 10px;
            font-size: 12px;
        }
        
        .product--info {
            height: auto;
        }
        
        .product > img {
            max-height: 150px;
        }
    }
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    width: 100%;
    z-index: 1;
    background-color: white;
}

.product--info {
     height: 100px;
     margin-bottom: 15px;
}

.product--price {
    margin-top: 5px;
}

.product--rating {
    display: flex;
}

.product > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
}